*{
    margin: 0;
    padding:0;
    box-sizing: border-box ;
    list-style: none;
}

.search{
    position: absolute;
    top: 10%;
    left: 10%;
}

.container{
    position: absolute;
    top: 40%;
    left: 10%;
}

body {background-color: rgb(243, 239, 239);}
  

input[type=submit] {
    background-color: #3ab340;
    font-weight: bold;
  }



 
  